# Node.js (React Frontend)
node_modules/
build/
dist/
coverage/
.env
.DS_Store

# ASP.NET (Backend)
obj/
bin/
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.cache
**/*.log
TestResults/
.vs/
packages/
wwwroot/

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.sln.docstates

# Git artifacts
*.orig
*.rej
*.bak
*.tmp